
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;

}

.container{
    background-color: rgb(255, 253, 245);
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;

   
}

table{
    border: 2px solid black;
    width: auto;
    color:aliceblue;
    background-color: black;
}
tr{
    
    border: 2px solid black;
}

.btn{
    display: flex;
    flex-direction: row;
    
}

button{
    background-color: black;
    color: azure;
    padding: 1rem;
    border-radius: 9%;
}
button:hover{
    background-color: rgb(55, 65, 65);
}